
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <title>Formulario y Resultado de Bisección</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
<a href="{% url 'home' %}" class="btnHome">Home</a>

<div class="container">

    <h2>Bisección</h2>

                <ul style="list-style-type: none;">
                    <li><strong>Convergencia:</strong> Lineal, pero garantizada.</li>
                    <li><strong>Situaciones recomendadas:</strong> Cuando se tiene una función continua en un intervalo [a, b] con un cambio de signo en los extremos del intervalo.</li>
                    <li><strong>Ventaja:</strong> Siempre converge.</li>
                    <li><strong>Desventaja:</strong> Lenta comparada con otros métodos.</li>
                </ul>
                <h3><strong>Casos de uso:</strong></h3>
                <ul style="list-style-type: none;">
                    <li><strong>Función continua con cambio de signo:</strong> Ideal cuando se tiene una función continua en un intervalo [a, b] donde f(a) y f(b) tienen signos opuestos.</li>
                    <li><strong>Sistemas sencillos:</strong> Útil en problemas simples donde la precisión es más importante que la velocidad.</li>
                    <li><strong>Función no derivable:</strong> Puede ser utilizado en funciones que no tienen derivada continua o donde otros métodos como Newton-Raphson fallarían debido a la falta de derivada.</li>
                    <li><strong>Intervalos grandes:</strong> Apto para comenzar con intervalos grandes y luego utilizar otros métodos más rápidos una vez que el intervalo se haya reducido.</li>
                </ul>

    <div class="explicacion">
        <p>La bisección es un método numérico utilizado para encontrar las raíces de una función. Se basa en el teorema del valor intermedio, dividiendo repetidamente un intervalo en subintervalos más pequeños y seleccionando aquel en el que la función cambia de signo.</p>
        <div style="text-align: center; color: red;">
            <strong>Ten en cuenta a la hora de ingresar tus datos</strong>
        </div>
        <p> Para llenar este formulario tienes que utilizar OBLIGATORIAMENTE la notación de matlab</p>
        <p>Los errores deben ser escritos así: 0.5e-5. OJO: El primero número cambia quieres cifras significativas o decimales correcto</p>
        <p>La función debe ser escrita de este modo: x^3-2*x^2+x-1</p>
        <p>Este método requiere un intervalo [xi, xs] en el cual la función cambia de signo, es decir, f(xi) * f(xs) < 0. Si no se cumple, no se garantiza que funcione el método.</p>
    </div>
    <h2>Formulario de Bisección</h2>
    <div class="form-container">
        <form action="#" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="funcion">Función:</label>
                <input type="text" id="funcion" name="funcion" placeholder="Ingrese la función: x^3-2*x^2+x-1" required>
            </div>
            <div class="form-group">
                <label for="xs">Xs:</label>
                <input type="text" id="xs" name="xs" placeholder="Ingrese Xs: 15. Debe ser un número" required>
            </div>
            <div class="form-group">
                <label for="xi">Xi:</label>
                <input type="text" id="xi" name="xi" placeholder="Ingrese Xi: -1. Debe ser número" required>
            </div>
            <div class="form-group">
                <label for="tol">Tol:</label>
                <input type="text" id="tol" name="tol" placeholder="Ingrese la tolerancia: 1e-5. Debe ser número positivo" required>
            </div>
            <div class="form-group">
                <label for="niter">Niter:</label>
                <input type="text" id="niter" name="niter" placeholder="Ingrese el número de iteraciones: 100. Max 100" required>
            </div>
            <button type="submit" class="btnSave">Calcular</button>
        </form>
    </div>
    {% if respuesta %}
        <h3>Resultado:</h3>
        <p>{{ respuesta }}</p>
        <p>Solución aproximada: {{ s }}</p>
        <p>Error: {{ E }}</p>

    {% endif %}

    {% if tabla %}
    <h3>Tabla de iteraciones:</h3>
    <table border="1">
        <tr>
            <th>Iteración</th>
            <th>a</th>
            <th>xi</th>
            <th>b</th>
            <th>f(xi)</th>
            <th>Error</th>
        </tr>
        {% for row in tabla %}
        <tr>
            <td>{{ row.Iteración }}</td>
            <td>{{ row.a }}</td>
            <td>{{ row.xi }}</td>
            <td>{{ row.b }}</td>
            <td>{{ row.fxi }}</td>
            <td>{{ row.Error }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    
    {% if ruta_grafico_funcion %}
        <h3>Gráfico de la Función</h3>
        <img src="{{ ruta_grafico_funcion }}" alt="Gráfico de la Función">
    {% endif %}
</div>
</body>
</html>
