{% extends "navbar.html" %}
{% load static %}
{% block content%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Bi</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    
</head>
<body>

<div class="container">
    <h2>Busqueda incremental</h2>
    <div class="explicacion">
        <p>La bisección es un método numérico utilizado para encontrar las raíces de una función. Se basa en el teorema del valor intermedio, dividiendo repetidamente un intervalo en subintervalos más pequeños y seleccionando aquel en el que la función cambia de signo.</p>
    </div>
    <div class="form-container">
        <form action="#" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="funcion">Función:</label>
                <input type="text" id="funcion" name="funcion" placeholder="Ingrese la función">
            </div>
            <div class="form-group">
                <label for="xs">X0:</label>
                <input type="text" id="x0" name="x0" placeholder="Ingrese X0">
            </div>
            <div class="form-group">
                <label for="tol">Delta</label>
                <input type="text" id="delta" name="delta" placeholder="Ingrese el Delta">
            </div>
            <div class="form-group">
                <label for="niter">Niter:</label>
                <input type="text" id="niter" name="niter" placeholder="Ingrese el número de iteraciones">
            </div>
            <button type="submit" class="btnSave">Calcular</button>
        </form>
    </div>
    {% if respuesta %}
        <h3>Resultado:</h3>
        <p>{{ respuesta }}</p>
        <p>Solución aproximada: {{ s }}</p>
        <p>Error: {{ E }}</p>

    {% endif %}

    {% if tabla2 %}
        <h3>Tabla de iteraciones:</h3>
        <table>
            <tr>
                <th>Iteración</th>
                <th>Xm</th>
                <th>f(Xm)</th>
            </tr>
            {% for row in tabla2 %}
            <tr>
                <td>{{ row.i }}</td>
                <td>{{ row.Xm }}</td>
                <td>{{ row.f_xm }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
</div>

</body>
</html>
{% endblock%}