{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario y Resultado del metodo de Lagrange</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
<a href="{% url 'home' %}" class="btnHome">Home</a>
    <div class="container">
    <h2>Lagrange</h2>
    <div class="explicacion">
        <p>El método de interpolacion de Lagrange</p>
        <p>Los valores de 'x' y 'y' deben estar escritos asi [ a;b;c;d ], el tamaño de ambos vectores debe ser el MISMO </p>
    </div>
    <h2>Formulario de Lagrange</h2>
    <div class="form-container">
        <form action="#" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="x">Valores de x:</label>

                <input type="text" id="x" name="x" placeholder="Ingrese los valores de x como [3;4;10;12]" required>
            </div>
            <div class="form-group">
                <label for="y">Valores de y:</label>

                <input type="text" id="y" name="y" placeholder="Ingrese los valores de y como [10;15;20;25]" required>
            </div>

            <button type="submit" class="btnSave">Calcular</button>
        </form>
    </div>
    <div style="overflow-x: auto;">
    
    {% if pol %}
    <h3> Función interpolante resultado Lagrange</h3>
    <a>{{pol}}</a>
    {% endif %}

    {% if Tabla %}
    <h3>MATRIZ:</h3>
    <table>
        {% for fila in Tabla %}
        <tr>
            {% for valor in fila %}
            <td>{{ valor }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if grafico %}
    <h4>Grafica Polinomio</h4>
    <img src="{{ grafico }}" alt="Gráfico de la Función">
    {% endif %}
    </div>
    </div>
</div>

</body>
</html>