{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario y Resultado de Newton Raices multiples con m = 2</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    
</head>
<body>
<a href="{% url 'home' %}" class="btnHome">Home</a>
<h1>sad</h1>
<div class="container">
    <h2>Newton Raices multiples m2</h2>
    <ul style="list-style-type: none;">
        <li><strong>Convergencia:</strong> Superlineal, más rápida que los métodos estándar cerca de raíces múltiples.</li>
        <li><strong>Situaciones recomendadas:</strong> Cuando se sabe o se sospecha que la función tiene raíces múltiples y la derivada de la función es fácil de calcular.</li>
        <li><strong>Ventaja:</strong> Mejora la convergencia en presencia de raíces múltiples.</li>
        <li><strong>Desventaja:</strong> Requiere la derivada y la segunda derivada, y puede ser más complejo de implementar que el método de Newton estándar.</li>
    </ul>
    <h3><strong>Casos de uso:</strong></h3>
    <ul style="list-style-type: none;">
        <li><strong>Función f(x) con raíces múltiples:</strong> Ideal cuando f(x)=0 tiene raíces múltiples y la derivada cumple con f'(x) = 0 en las proximidades de las raíces.</li>
        <li><strong>Precisión y Rapidez:</strong> El método puede alcanzar una alta precisión con pocas iteraciones, especialmente si la función y sus derivadas son bien comportadas cerca de la raíz múltiple.</li>
        <li><strong>Complejidad:</strong> Aunque más complejo que el método de Newton estándar, es muy efectivo para funciones con raíces múltiples.</li>
    </ul>
    <div class="explicacion">
        <div style="text-align: center; color: red;">
            <strong>Ten en cuenta a la hora de ingresar tus datos</strong>
        </div>
        <p>El método de Newton modificado para raíces múltiples es un método numérico que utiliza derivadas para encontrar las raíces múltiples de una función, mejorando progresivamente una estimación inicial.</p>
        <p>Para llenar este formulario debes utilizar OBLIGATORIAMENTE la notación de MATLAB.</p>
        <p>Los errores deben ser escritos así: 0.5e-5.</p>
        <p>La función debe ser escrita de este modo: x^3-2*x^2+x-1.</p>
        <p class="subtitle text-gray-700 display-6">El tipo de error está dado: 0 para error absoluto y 1 para error relativo.</p>
        <p>f(x) tiene que ser derivable y la derivada debe ser diferente de 0 (cero), y no debe calcular cerca de mínimos y máximos locales, puesto que no permitirá converger el método.</p>
        <p>Solo se pueden ingresar valores numéricos</p>
    </div>
    <h2>Formulario de Newton Raices multiples</h2>
    <div class="form-container">
        <form action="#" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="funcion">Función:</label>
                <input type="text" id="funcion" name="funcion" placeholder="Ingrese la función" required>
            </div>
            <div class="form-group">
                <label for="x0">x0:</label>
                <input type="text" id="x0" name="x0" placeholder="Valor inicial x0" required>
            </div>
            <div class="form-group">
                <label for="tol">Tol:</label>
                <input type="text" id="tol" name="tol" placeholder="Ingrese la tolerancia" required>
            </div>
            <div class="form-group">
                <label for="tpe">Tipo de error:</label>
                <input type="text" id="niter" name="tpe" placeholder="Ingrese el tipo de error" required>
            </div>
            <div class="form-group">
                <label for="niter">Niter:</label>
                <input type="text" id="niter" name="niter" placeholder="Ingrese el número de iteraciones" required>
            </div>
            <button type="submit" class="btnSave">Calcular</button>
        </form>
    </div>
    {% if respuesta %}
        <h3>Resultado:</h3>
        <p>{{ respuesta }}</p>
    {% endif %}

    {% if tabla %}
        <h3>Tabla de iteraciones:</h3>
        <table border="1">
            <tr>
                <th>Iteración</th>
                <th>xn</th>
                <th>f(xn)</th>
                <th>f'(xn)</th>
                <th>Error</th>
            </tr>
            {% for row in tabla %}
            <tr>
                <td>{{ row.i }}</td>
                <td>{{ row.xn }}</td>
                <td>{{ row.Fm }}</td>
                <td>{{ row.dfm }}</td>
                <td>{{ row.Error }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
    {% if ruta_grafico_funcion %}
        <h3>Gráfico de la Función</h3>
        <img src="{{ ruta_grafico_funcion }}" alt="Gráfico de la Función">
    {% endif %}
</div>
</body>
</html>
