{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario y Resultado de Newton Interpolante</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
<a href="{% url 'home' %}" class="btnHome">Home</a>
    <div class="container">
    <h2>Newton Interpolante</h2>
    <div class="explicacion">
        <p>El método de Newton Interpolante</p>
        <p>Los valores de 'x' y 'y' deben estar escritos asi [ a b c d ], el tamaño de estos</p>
        <p>debe ser del mismo tamaño</p>
    </div>
    <h2>Formulario de Newton Interpolante</h2>
    <div class="form-container">
        <form action="#" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="x">valores x:</label>
                <input type="text" id="x" name="x" placeholder="Ingrese los valores de x" required>
            </div>
            <div class="form-group">
                <label for="y">valores y:</label>
                <input type="text" id="y" name="y" placeholder="Ingrese los valores de y" required>
            </div>
            <button type="submit" class="btnSave">Calcular</button>
        </form>
    </div>
    <div style="overflow-x: auto;">
    {% if Tabla %}
    <h3>Tabla de diferenciales divididas:</h3>
    <table>
        <h1>Tabla de Diferencias Divididas</h1>
        <tr>
            <th>x</th>
            <th>y</th>
            <th>Diferencias Divididas...</th>
        </tr>
        {% for fila in Tabla %}
        <tr>
            {% for valor in fila %}
            <td>{{ valor }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% if coeficientes %}
    <h4>Coeficientes diferencias divididas</h4>
    <p>{{ coeficientes }}</p>
    {% endif %}
    {% if polinomioC %}
    <h4>Coeficientes polinomio interpolante</h4>
    <p>{{ polinomioC }}</p>
    {% endif %}
    {%if polinomio %}
    <h4>Polinomio</h4>
    <p>{{ polinomio }}<p>
    {% endif %}
    {% if grafico %}
    <h4>Grafica Polinomio</h4>
    <img src="{{ grafico }}" alt="Gráfico de la Función">
    {% endif %}
    </div>
    </div>
</div>
</body>
</html>