{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario y Resultado de Newton</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    
</head>
<body>
<a href="{% url 'home' %}" class="btnHome">Home</a>
<div class="container">
    <h2>Newton</h2>
    <ul style="list-style-type: none;">
        <li><strong>Convergencia:</strong> Cuadrática, muy rápida cerca de la raíz.</li>
        <li><strong>Situaciones recomendadas:</strong> Cuando se tiene una buena aproximación inicial y la derivada de la función es fácil de calcular.</li>
        <li><strong>Ventaja:</strong> Muy rápido cuando funciona.</li>
        <li><strong>Desventaja:</strong> Requiere la derivada, puede divergir si la aproximación inicial es pobre.</li>
    </ul>
    <h3><strong>Casos de uso:</strong></h3>
    <ul style="list-style-type: none;">
        <li><strong>Función f(x) fácil de calcular:</strong> Ideal cuando f(x)=0 su derivada cumple con <br>|f′(x)| ≠ 0, garantizando la convergencia.</li>
        <li><strong>Precisión y Rapidez:</strong> El metodo puede alcanzar una alta precisión con pocas iteraciones, especialmente si la función y su derivada son bien comportadas cerca de la raíz.</li>
        <li><strong>Complejidad:</strong> De los metodos iterativos, este es el más poderoso</li>
    </ul>

    <div class="explicacion">
        <div style="text-align: center; color: red;">
            <strong>Ten en cuenta a la hora de ingresar tus datos</strong>
        </div>
        <p>El método de Newton es un método numérico que utiliza derivadas para encontrar las raíces de una función, mejorando progresivamente una estimación inicial.</p>
        <p>Para llenar este formulario debes utilizar OBLIGATORIAMENTE la notación de MATLAB.</p>
        <p>Los errores deben ser escritos así: 0.5e-5.</p>
        <p>La función debe ser escrita de este modo: x^3-2*x^2+x-1.</p>
        <p class="subtitle text-gray-700 display-6">El tipo de error está dado: 0 para error absoluto y 1 para error relativo. Ingrese el que corresponda, al ingresar un valor invalido por defecto se tomará el error relativo.</p>
        <p>Solo se pueden ingresar valores numericos</p>
    </div>
    <h2>Formulario de Newton</h2>
    <div class="form-container">
        <form action="#" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="funcion">Función:</label>
                <input type="text" id="funcion" name="funcion" placeholder="Ingrese la función" required>
            </div>
            <div class="form-group">
                <label for="x0">x0:</label>
                <input type="text" id="x0" name="x0" placeholder="Valor inicial x0" required>
            </div>
            <div class="form-group">
                <label for="tol">Tolerancia:</label>
                <input type="text" id="tol" name="tol" placeholder="Ingrese la tolerancia (Ej:0.5e-5)" required>
            </div>
            <div class="form-group">
                <label for="niter">Numero Iteraciones:</label>
                <input type="text" id="niter" name="niter" placeholder="Ingrese el número de iteraciones (Maximo 100)" required>
            </div>
            <div class="form-group">
                <label for="terr">Tipo de Error:</label>
                <input type="text" id="terr" name="terr" placeholder="Ingrese el número de error (0-Absoluto/1-Relativo)" required>
            </div>
            <button type="submit" class="btnSave">Calcular</button>
        </form>
    </div>
    {% if respuesta %}
        <h3>Resultado:</h3>
        <p>{{ respuesta }}</p>
    {% endif %}

    {% if tabla %}
        <h3>Tabla de iteraciones:</h3>
        <table border="1">
            <tr>
                <th>Iteración</th>
                <th>xn</th>
                <th>f(xn)</th>
                <th>f'(xn)</th>
                <th>Error</th>
            </tr>
            {% for row in tabla %}
            <tr>
                <td>{{ row.i }}</td>
                <td>{{ row.xn }}</td>
                <td>{{ row.Fm }}</td>
                <td>{{ row.dfm }}</td>
                <td>{{ row.Error }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
    {% if ruta_grafico_funcion %}
    <h3>Gráfico de la Función</h3>
    <img src="{{ ruta_grafico_funcion }}" alt="Gráfico de la Función">
{% endif %}
</div>
</body>
</html>
