{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario y Resultado de Regla falsa</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
<a href="{% url 'home' %}" class="btnHome">Home</a>
<div class="container">
    <h2>Punto fijo</h2>
    <ul style="list-style-type: none;">
                    <li><strong>Convergencia:</strong> Lineal, depende de la elección de g(x) y su derivada.</li>
                    <li><strong>Situaciones recomendadas:</strong> Cuando g(x) es fácil de calcular y |g′(x)| < 1.</li>
                    <li><strong>Ventaja:</strong> Simple de implementar.</li>
                    <li><strong>Desventaja:</strong> La elección de g(x) puede ser complicada, y puede no converger.</li>
                </ul>
                <h3><strong>Casos de uso:</strong></h3>
                <ul style="list-style-type: none;">
                    <li><strong>Función g(x) fácil de calcular:</strong> Ideal cuando g(x) es simple y su derivada cumple con |g′(x)| < 1, garantizando la convergencia.</li>
                    <li><strong>Problemas simples:</strong> Adecuado para problemas donde la solución es simple y directa.</li>
                    <li><strong>Sistemas con buena elección de g(x):</strong> Funciona bien cuando se puede encontrar una función g(x) adecuada que asegure la convergencia.</li>
                    <li><strong>Implementación inicial:</strong> Útil para introducir conceptos básicos de métodos iterativos debido a su simplicidad.</li>
                </ul>

    <div class="explicacion">
        <div style="text-align: center; color: red;">
            <strong>Ten en cuenta a la hora de ingresar tus datos</strong>
        </div>
        <p>Los errores deben ser escritos así: 0.5e-5.</p>
        <p>F puede ser escrita así sin(x-18*10^(-3))-x </p>
        <p>La función debe ser escrita de este modo: sin(x-18*10^(-3)).  (Esa es g)</p>
        <p>Si ∣g′(x)∣≥1, el método no converge.</p>
        <p>Si el punto inicial x0 está demasiado lejos de la raíz, el método puede no converger.</p>
        <p class="subtitle text-gray-700 display-6">El tipo de error: 0 para error absoluto y 1 para error relativo. Por defecto está el relativo</p>
    </div>
    <h2>Formulario de Punto Fijo</h2>
    <div class="form-container">
        <form action="#" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="funcion">Función f:</label>
                <input type="text" id="funcion" name="funcion" placeholder="Ingrese la función f" required>
            </div>
            <div class="form-group">
                <label for="x0">Función g:</label>
                <input type="text" id="funciong" name="funciong" placeholder="Ingrese la función g" required>
            </div>
            <div class="form-group">
                <label for="x1">x0:</label>
                <input type="text" id="x0" name="x0" placeholder="Ingrese x0. Debe ser un número, ej: 1" required>
            </div>
            <div class="form-group">
                <label for="tol">Tol:</label>
                <input type="text" id="tol" name="tol" placeholder="Ingrese la tolerancia. Ej: 1e-5" required>
            </div>
            <div class="form-group">
                <label for="niter">Niter:</label>
                <input type="text" id="niter" name="niter" placeholder="Ingrese num de iteraciones. Debe ser num, max 100" required>
            </div>
            <div class="form-group">

                <label for="terr">Tipo error:</label>
                <input type="text" id="tipo_error" name="tipo_error" placeholder="Ingrese el número de terr. 0: abs ó 1: rela" required>
            </div>
            <button type="submit" class="btnSave">Calcular</button>
        </form>
    </div>
    {% if respuesta %}
        <h3>Resultado:</h3>
        <p>{{ respuesta }}</p>
    {% endif %}
    {% if tabla %}
    <div style="overflow-x: auto;">

        <h3>Tabla de iteraciones:</h3>
        <table border="1">
            <tr>
                <th>Iteración</th>
                <th>xi</th>
                <th>f(xi)</th>
                <th>Error</th>
            </tr>
            {% for row in tabla %}
            <tr>
                <td>{{ row.Iteration }}</td>
                <td>{{ row.xi }}</td>
                <td>{{ row.fxi }}</td>
                <td>{{ row.Error }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
    {% if ruta_grafico_funcion %}
        <h3>Gráfico de la Función</h3>
        <img src="{{ ruta_grafico_funcion }}" alt="Gráfico de la Función">
    {% endif %}
    </div>
</div>
</body>
</html>
