{% extends "navbar.html" %}
{% load static %}
{% block content%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario y Resultado de Regla falsa</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>

<div class="container">
    <h2>Regla falsa</h2>

    <ul style="list-style-type: none;">
                    <li><strong>Convergencia:</strong> Superlineal, más rápida que la bisección en muchos casos.</li>
                    <li><strong>Situaciones recomendadas:</strong> Similar a la bisección, pero mejora en situaciones donde la función es aproximadamente lineal cerca de la raíz.</li>
                    <li><strong>Ventaja:</strong> Más rápida que la bisección.</li>
                    <li><strong>Desventaja:</strong> Puede no converger si la función es muy no lineal.</li>
                </ul>
                <h3><strong>Casos de uso:</strong></h3>
                <ul style="list-style-type: none;">
                    <li><strong>Función lineal o casi lineal cerca de la raíz:</strong> Ideal cuando la función es aproximadamente lineal cerca de la raíz, lo que permite una convergencia más rápida que la bisección.</li>
                    <li><strong>Intervalos con cambio de signo:</strong> Similar a la bisección, se utiliza cuando se tiene un intervalo [a, b] con un cambio de signo en los extremos.</li>
                    <li><strong>Problemas con eficiencia:</strong> Útil en situaciones donde se necesita una solución más rápida que la proporcionada por el método de bisección.</li>
                    <li><strong>Sistemas no lineales moderados:</strong> Funciona bien en sistemas donde la no linealidad no es extrema, permitiendo una convergencia más eficiente.</li>
                </ul>

    <div class="explicacion">
        <div style="text-align: center; color: red;">
            <strong>Ten en cuenta a la hora de ingresar tus datos</strong>
        </div>
        <p>Los errores deben ser escritos así: 0.5e-5.</p>
        <p>La función debe ser escrita de este modo: x^3-2*x^2+x-1.</p>
        <p>Este método requiere un intervalo [xi, xs] en el cual la función cambia de signo, similar a la bisección. </p>
        <p>Si f(xi) * f(xs) >= 0. El método no funcionará</p>
        <p>En funciones altamente no lineales, la interpolación lineal puede ser una aproximación muy pobre y el método puede converger lentamente</p>
        <p class="subtitle text-gray-700 display-6">El tipo de error: 0 para error absoluto y 1 para error relativo. Por defecto está el relativo</p>
    </div>
    <h2>Formulario de Regla Falsa</h2>
    <div class="form-container">
        <form action="#" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="funcion">Función:</label>
                <input type="text" id="funcion" name="funcion" placeholder="Ingrese la función: x^3-2*x^2+x-1" required>
            </div>
            <div class="form-group">
                <label for="x0">x0:</label>
                <input type="text" id="x0" name="x0" placeholder="Ingrese x0. Debe ser un número, ej: 1" required>
            </div>
            <div class="form-group">
                <label for="x1">x1:</label>
                <input type="text" id="x1" name="x1" placeholder="Ingrese x1. Debe ser un número, ej: -1" required>
            </div>
            <div class="form-group">
                <label for="tol">Tol:</label>
                <input type="text" id="tol" name="tol" placeholder="Ingrese la tolerancia. Ej: 1e-5" required>
            </div>
            <div class="form-group">
                <label for="niter">Niter:</label>
                <input type="text" id="niter" name="niter" placeholder="Ingrese num de iteraciones. Debe ser num, max 100" required>
            </div>
            <div class="form-group">

                <label for="terr">Tipo error:</label>
                <input type="text" id="terr" name="terr" placeholder="Ingrese el número de terr. 0: abs ó 1: rela" required>
            </div>
            <button type="submit" class="btnSave">Calcular</button>
        </form>
    </div>
    {% if respuesta %}
        <h3>Resultado:</h3>
        <p>{{ respuesta }}</p>
    
    {% endif %}

    {% if tabla %}
    <div style="overflow-x: auto;">

        <h3>Tabla de iteraciones:</h3>
        <table border="1">
            <tr>
                <th>Iteración</th>
                <th>xm</th>
                <th>Limite inferior</th>
                <th>Limite superior</th>
                <th>f(xm)</th>
                <th>fi</th>
                <th>fs</th>
                <th>Error</th>
            </tr>
            {% for row in tabla %}
            <tr>
                <td>{{ row.n }}</td>
                <td>{{ row.x_m }}</td>
                <td>{{ row.x_i }}</td>
                <td>{{ row.x_s }}</td>
                <td>{{ row.f_m }}</td>
                <td>{{ row.f_i }}</td>
                <td>{{ row.f_s }}</td>
                <td>{{ row.E }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
    {% if ruta_grafico_funcion %}
        <h3>Gráfico de la Función</h3>
        <img src="{{ ruta_grafico_funcion }}" alt="Gráfico de la Función">
    {% endif %}
    </div>
</div>
</body>
</html>
{% endblock%}