{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario y Resultado de SOR</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
<a href="{% url 'home' %}" class="btnHome">Home</a>
<div class="container">
    <h2>Método SOR</h2>
    <div class="explicacion">
        <ul style="list-style-type: none;">
            <li>Convergencia: Superlineal, depende del factor de relajación</li>
            <li>Situaciones recomendadas: Cuando se desea acelerar la convergencia de Gauss-Seidel</li>
            <li>Ventaja: Puede ser mucho más rápido que Gauss-Seidel</li>
            <li>Desventaja: Requiere elección del factor de relajación</li>
        </ul>
        <h3>Casos de uso:</h3>
        <ul style="list-style-type: none;">
            <li>Matriz diagonalmente dominante: Funciona bien cuando la matriz de coeficientes es diagonalmente dominante</li>
            <li>Sistemas grandes y dispersos: Ideal para sistemas grandes y dispersos donde se puede paralelizar fácilmente</li>
        </ul>
    </div>
    <div class="explicacion">
        <p>Los errores deben ser escritos así: 0.5e-5.</p>
        <p>solo se admitiran valores numericos</p>
        <p>Los vectores deben estar escritos así [[a1,a2], [b1,b2]] donde la coma representa una nueva fila.</p>
        <p class="subtitle text-gray-700 display-6">El tipo de error está dado por 0 para error absoluto y 1 para error relativo. Ingrese el que corresponda, al ingresar un valor inválido por defecto se tomará el error relativo.</p>
    </div>
    <h2>Formulario de Sor</h2>
    <div class="form-container">
        <form action="#" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="x1">x0:</label>
                <input type="text" id="x0" name="x0" placeholder="Ingrese x0" required>
            </div>
            <div class="form-group">
                <label for="A">vector A:</label>
                <input type="text" id="A" name="A" placeholder="Ingrese el vector A" required>
            </div>
            <div class="form-group">
                <label for="b">vector b:</label>
                <input type="text" id="b" name="b" placeholder="Ingrese el vector b" required>
            </div>
            <div class="form-group">
                <label for="tol">Tol:</label>
                <input type="text" id="tol" name="tol" placeholder="Ingrese la tolerancia" required>
            </div>
            <div class="form-group">
                <label for="niter">Niter:</label>
                <input type="text" id="niter" name="niter" placeholder="Ingrese el número de iteraciones" required>
            </div>
            <div class="form-group">
                <label for="w">Valor w:</label>
                <input type="text" id="w" name="w" placeholder="Ingrese el valor w" required>
            </div>
            <div class="form-group">
                <label for="terr">Terr:</label>
                <input type="text" id="tipo_error" name="tipo_error" placeholder="Ingrese el número de terr" required>
            </div>
            <button type="submit" class="btnSave">Calcular</button>
        </form>
    </div>
    {% if respuesta %}
        <h3>Resultado:</h3>
        <p>{{ respuesta }}</p>
    {% endif %}
    <h3>Radio: </h3>
    <p>{{ radio }}</p>
    {% if tabla %}
<div style="overflow-x: auto;">
    <h3>Tabla de iteraciones:</h3>
    <table>
        <tr>
            <th>Iteración</th>
            {% for key in columnas %}
            {% if key != 'Iteración' and key != 'Error' %}
            <th>{{ key }}</th>
            {% endif %}
            {% endfor %}
            <th>Error</th>
        </tr>
        {% for row in tabla %}
        <tr>
            <td>{{ row.Iteración }}</td>
            {% for key, value in row.items %}
            {% if key != 'Iteración' and key != 'Error' %}
            <td>{{ value }}</td>
            {% endif %}
            {% endfor %}
            <td>{{ row.Error }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}

    </div>
</div>
</body>
</html>