{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario y Resultado del metodo de Spline</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
<a href="{% url 'home' %}" class="btnHome">Home</a>
    <div class="container">
    <h2>Spline</h2>
    <div class="explicacion">
        <p>Splines son funciones definidas a trozos por polinomios que se utilizan para la interpolación de datos. Los splines aseguran una transición suave entre los diferentes segmentos de los polinomios, proporcionando una curva continua y diferenciable que pasa por todos los puntos de datos.</p>
        <p>El método de interpolacion de Spline</p>
        <p>Los valores dentro de los corchetes deben ser númericos, no se pueden letras</p>
        <p>Los valores de 'x' y 'y' deben estar escritos asi [a b c d ] ó así [a, b, c, d ], el tamaño de 'x' y 'y' DEBE ser igual</p>
        <p>Los puntos deben estar ordenados de forma ascendente</p>
    </div>
    <h2>Formulario de Spline</h2>
    <div class="form-container">
        <form action="#" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="x">Valores de x:</label>

                <input type="text" id="x" name="x" placeholder="Ingrese los valores de x como [3 4 10 12]" required>
            </div>
            <div class="form-group">
                <label for="y">Valores de y:</label>

                <input type="text" id="y" name="y" placeholder="Ingrese los valores de y como [10 15 20 25]" required>
            </div>
            <div class="form-group">
                <label for="degree">Grado del Spline:</label>
                <select id="degree" name="degree">
                    <option value="1">Lineal</option>
                    <option value="2">Cuadrático</option>
                    <option value="3">Cúbico</option>
                </select>
            </div>
            <button type="submit" class="btnSave">Calcular</button>
        </form>
    </div>
    <div style="overflow-x: auto;">
    {% if Tabla %}
    <h3>MATRIZ:</h3>
    <table>
        {% for fila in Tabla %}
        <tr>
            {% for valor in fila %}
            <td>{{ valor }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if grafico %}
    <h4>Grafica Polinomio</h4>
    <img src="{{ grafico }}" alt="Gráfico de la Función">
    {% endif %}
    </div>
    </div>
</div>
</body>
</html>